<!DOCTYPE html>
<html>
<head>
  <title>kipteam.net - projects</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script src="https://kit.fontawesome.com/697d2afc76.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
  <div class="extra-page">
    <section id="projects">
      <div class="title">
        <h3>Projects</h3>
        <hr align="left">
      </div>
      <div class="projects">
        
        <div class="proj-left">
          <div class="box" data-aos="fade-right">
            <p class="details">
              December 27, 2021
            </p>
            
            <h2>Gluo</h2>
            <p>
              A project I am working on.
            </p>
          </div>

          <div class="box" data-aos="fade-right">
            <p class="details">
              April 5, 2022
            </p>
            
            <h2>Jalpa API</h2>
            <p>
              Awesome, free and usefriendly API. 
            </p>
            
            <p class="advertise">
              <a href="https://www.jalpa-api.ga/" target="_blank">Website <i class="fas fa-external-link-alt"></i></a>
            </p>
          </div>

          <div class="box" data-aos="fade-right">
            <p class="details">
              May 5, 2021
            </p>
            
            <h2>Paradox</h2>
            <p>
              It's the revisioned version of Ultimate Leveling. It comes with more, better and new features. 
            </p>
          </div>
          
          <div class="proj-fill">
            &emsp;
          </div>
        </div>
        
  
        <div class="proj-right">
          <div class="box" data-aos="fade-left">
            <p class="details">
              December 14, 2021
            </p>
            
            <h2>Socotra</h2>
            <p>
              A beautiful tree themed Discord bot that I've spent too much time working on.
            </p>
            
            <p class="advertise">
              <a href="https://www.socotra-bot.ga/" target="_blank">Website <i class="fas fa-external-link-alt"></i></a> &emsp;
              <a href="https://discord.com/oauth2/authorize?client_id=793180369490411561&scope=bot%20applications.commands&permissions=8" target="_blank">Invite <i class="fas fa-external-link-alt"></i></a>
            </p>
          </div>
          <div class="box" data-aos="fade-left">
            <p class="details">
              December 5, 2021
            </p>
            
            <h2>Ultimate leveling</h2>
            <p>
              A highly customizable, userfriendly, free solution for Discord leveling.
            </p>
            
            <p class="advertise">
              <a href="https://www.ultimateleveling.ga/" target="_blank">Website <i class="fas fa-external-link-alt"></i></a> &emsp;
              <a href="https://discord.com/oauth2/authorize?client_id=839561965252247554&permissions=8&scope=bot" target="_blank">Invite <i class="fas fa-external-link-alt"></i></a>
            </p>
          </div>
          
          <div class="box" data-aos="fade-left">
            <p class="details">
              February 11, 2022
            </p>
            
            <h2>Urlify</h2>
            <p>
              A very extensive url shortener with statistics and more!
            </p>
          </div>
          <div class="box" data-aos="fade-left">
            <p class="details">
              October 17, 2021
            </p>
            
            <h2>Quag Warps</h2>
            <p>
              Quag warps is an easy-to-use warps plugin.
            </p>

            <p class="advertise">
              <a href="https://www.spigotmc.org/resources/quag-warps.96919/" target="_blank">Spigot <i class="fas fa-external-link-alt"></i></a>
            </p>
          </div>
          
        </div>
      </div>
    </section>

    <div class="page-home">
      <button onclick="window.location.href=('/')">Home</button>
    </div>
    
    <footer>
      Entirely made by <a href="">Kipteam</a> © 2021-2022
    </footer>
  </div>
  
  <script>
    AOS.init();
  </script>
</body>
</html>