<!DOCTYPE html>
<html>
<head>
  <title>kipteam.net - discord servers</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script src="https://kit.fontawesome.com/697d2afc76.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
  <div class="extra-page">
    <section id="projects">
      <div class="title">
        <h3>Discord Servers</h3>
        <hr align="left">
      </div>
      <div class="projects">
        <div class="proj-left">
          <div class="box" data-aos="fade-right">
            <h2>Gluo</h2>
            <p>
              The official Gluo Community discord. Feel free to make a visit and possibly join the tester team!
            </p>
            
            <p class="advertise">
              <a href="https://discord.gg/SV2WSmMEex" target="_blank">Join <i class="fas fa-external-link-alt"></i></a>
            </p>
          </div>
          <div class="proj-fill">
            &emsp;
          </div>
        </div>
        
  
        <div class="proj-right">
          <div class="box" data-aos="fade-right">          
            <h2>Jalpa Development</h2>
            <p>
              The support server for all my bots and the Jalpa API. 
            </p>

            <p class="advertise">
              <a href="https://discord.gg/P6a9zDAku4" target="_blank">Join <i class="fas fa-external-link-alt"></i></a>
            </p>
          </div>
          
          <div class="box" data-aos="fade-left">           
            <h2>Jalpa Bot Development Lab</h2>
            <p>
              The server where all unreleased bot's are open for testing. You can also get your own bot invited and ask for community feedback!
            </p>
            
            <p class="advertise">
              <a href="https://discord.gg/f5XTZTUTcm" target="_blank">Join <i class="fas fa-external-link-alt"></i></a>
            </p>
          </div>         
        </div>
      </div>
    </section>

    <div class="page-home">
      <button onclick="window.location.href=('/')">Home</button>
    </div>
    
    <footer>
      Entirely made by <a href="">Kipteam</a> © 2021-2022
    </footer>
  </div>
  
  <script>
    AOS.init();
  </script>
</body>
</html>